@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  /* - Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)
- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%) */
}
button {
  background-color: transparent;
  width: 200px;
  height: 50px;
  border: 1px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  border-radius: 100px;
  cursor: pointer;
}
nav {
  margin: 3% auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.continer {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}
.continer .intro {
  margin: 150px 0;
}
.continer .intro h1 {
  font-size: 46px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.continer .intro p {
  font-size: 17px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin: 20px 0;
}
.continer .intro button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  width: 350px;
  font-size: 17px;
}
.continer .statics {
  margin: 50px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.continer .statics .k .L {
  text-align: left;
}
.continer .statics .k .L h1 {
  font-size: 47px;
  position: relative;
}
.continer .statics .k p {
  font-size: 15px;
  opacity: 0.3;
}
.container2 {
  width: 80%;
  margin: 200px auto;
}

.container2 .first,
.container2 .sconde,
.container2 .third {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 200px;
  /* background-image:  url("/images/bg-section-top-desktop-1.svg" ),url("/images/bg-section-bottom-desktop-1.svg") ;
  background-repeat: no-repeat;
  background-size: ; */
}
.container2 .first {
  /* background: url(images/bg-curvy-desktop.svg) bottom center no-repeat;

  padding: 0 10%; */
}
.container2 .first img,
.container2 .sconde img,
.container2 .third img {
  margin: auto;
}
.container2 .first .text h2,
.container2 .sconde .text h2,
.container2 .third .text h2 {
  font-size: 42px;
}
.continer h1 {
  font-size: 42px;
}
.continer button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  margin: 30px 0;
  width: 350px;
}
.backgroundee {
  background-color: hsl(192, 100%, 9%);
  padding: 100px 0;
  padding-bottom: 20px;
}
.foooter {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 55%;
  gap: 25%;
  align-items: flex-start;
  color: white;
}
.foooter .left img {
  width: 200px;
}
.foooter .left p,
.right p {
  font-size: 12px;
  font-weight: 100;
  margin: 10px 0;
}
.foooter .left .fixedd img {
  width: 20px;
}
.fixedd {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.souchial img {
  margin: 50px 0;
  width: 20px;
}
/* ----right ---- */
.right .fixedd input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
}

.right .fixedd button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  height: 40px;
  margin: 15px 0;
  border-radius: 5px;
}
